.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar__container {
    display: flex;
    padding-top: 92px;
    padding-bottom: 96px;
    align-items: center;
}

.header__navbar-list {
    list-style: none;
    display: flex;
    padding-left: 50.52px;
}

.header__navbar-item {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 14px;
    border-bottom: #000;
    list-style: circle;
}

.header__navbar-item_active {
    text-decoration: none;
    list-style: none;
}

.header__menu-link {
    padding-right: 15px;
}

.header__link-list-item {
    border-bottom: #000;
    list-style: circle;
}


.navbar__logo {
    width: 148px;
    /* height: 105px; */
    flex: 0 0 auto;
}

.navbar__logo-img {
    width: inherit;
    height: inherit;
    padding-left: 26.48px;
}

.adress {
    font-style: normal;
    padding-left: 184.52px;
    flex-shrink: 0;
    padding-left: 184px;
    font-size: 18px;
    text-underline-position: under;
    text-underline-offset: 1px;
    
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    opacity: 0.6;
    inset: 0;
}

.overlay-lots {
    height: inherit;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover {
    background: url(../images/cover.jpg) center/cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 165px 50px 50px 50px;
    position: relative;
    background-repeat: no-repeat;
}

.card__link {
    height: 100%;
    text-decoration: none;
}

.cover__title {
    width: 100%;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 100px;
    letter-spacing: 0.3em;
    gap: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    line-height: 100%;
    margin-bottom: 135px;

}

.aligned-text {
    display: block;
}

.letter-spacing {
    letter-spacing: 60px;
}

.aligned-text-large {
    line-height: 115%;
}

.aligned-text-center {
    text-align: center;
}

.aligned-text-right {
    text-align: right;
}

.cover__title__container {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 147px;
    padding-top: 165px;
    display: flex;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}


.lots {

    padding-bottom: 180px;
}

.cover__text { 
    font-size: 22px;
    font-weight: 400;
    word-spacing: 17.5px;
}

.cover__button {
    color: inherit;
    padding: 12px 32px;
    background: transparent;
    outline: none;
    border: 1px solid;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    text-transform: uppercase;


}

.cover__container-text {
    z-index: 1;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 78px;
}

.cover__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* padding-bottom: 67px; */
    padding-right: 50px;
}

.cover__text__leter {
    letter-spacing: 24.2px;
}

.card__container__leanse {
    width: 334px;
    height: 563px;
    flex-shrink: 0;

}

.card__container_film{
    background: url(../images/card-lot-01.jpg) center/cover;  
}

.card__container_book{
    background: url(../images/card-lot-02.jpg) center/cover;
}

.card__container_art{
    background: url(../images/card-lot-03.jpg) center/cover;
}

.cards-list{
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style: none;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 30px;
}

.cards-list-title {

    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 179px;
    padding-bottom: 27px;
    padding-left: 64px;
}

.cards-list-item {
    flex: 1 0 0%;
    min-height: 450px;
}

.card__title {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    text-decoration: underline;
    text-transform: uppercase;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 48px;
    
}

.card__content-text {
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    line-height: 120%; 
    padding-left: 40px;
    padding-right: 40px;
 
}

.card__content-text-1 {
    padding-top: 241px;
}


.card__content-text-3 {
    padding-top: 93px;
}

.card .overlay { 
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about {
    display: flex;
    gap: 25px;
    padding: 0 25px 182px 25px;
  }
  
.about__column:last-child {
    margin-top: 103px;
  }
  
.about__logo {
    background-color: #000;
    border-radius: 50%;
    margin: 0 46px;
    padding: 63px 46px;
  }
  
.about__logo-image {
    width: 148px;
  }
  
.about__title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
  }
  
.about__text {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 100px;
  }

.footer {
    font-size: 18px;
    font-weight: 400;
    padding: 0 50px 90px;
    display: flex;
    justify-content: space-between;  
}

.lots__see-more {
    text-decoration: none;
    text-transform: lowercase;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid #000;
}

.footer__adress {
    padding-left: 52px;
}

.footer__menu-list {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__menu-list-item {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
    list-style: none;
}

.footer__menu-list-item-active {
    text-decoration: none;
}

.footer__social-media-list {
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    list-style: none;
    flex: 0 0 auto;
}